body {
    font-family: 'Josefin Sans', sans-serif;
}

#branding img{
    width: 140px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    font-size: 18px;
    padding-top: 30px;
    min-height: 120px;
}

header .home {
    background-color: #fc3868;
    color: #fff;
}

header .events {
    background-color: #fff;
    color: #000;
}

header .home nav a {
    color: #000;
    text-decoration: none;
    font-size: 22px;
}

header .events nav a {
    color: #000;
    text-decoration: none;
    font-size: 22px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header nav {
    float: right;
    margin-top: 10px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

h1,
h5,
h4,
h3 {
    text-align: center;
}


h4 {
    margin: auto;
}

footer   { 
    color: #fff;
    min-height:4em;         
    background-color:black;             
    width: 100%;
    padding: 20px;
}

footer img {
    float: right;
}

#ar {
    font-size: 82px;
    text-shadow: 7px 7px yellow;
    text-shadow: 7px 7px yellow;
    -moz-text-fill-color: #fff;
    -webkit-text-fill-color: #fff;
       -moz-text-stroke-color: #fc3868;
    -webkit-text-stroke-color: #fc3868;
       -moz-text-stroke-width: 2px;  
    -webkit-text-stroke-width: 2px; 
}

#t {
    font-family: 'Times New Roman', Times, serif;
}

.snapchat {
    text-align: center;
}

.snapchat img {
    border-radius: 20%;
    border: 1px solid;
    width: 50px;
    height: 50px;    
    margin: 20px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

.paragraph {
    line-height: 1.45rem;
    font-size: 1.12rem;
}

.paragraph a {
    color: #fc3868;
}

blockquote {
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
}

.space {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.space img {
    height: 120px;
}

.fig {
    height: 120px;
    margin: 20px;
    text-align: center;
}