body {
    font-family: 'Josefin Sans', sans-serif;
}

#branding img{
    width: 140px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    font-size: 18px;
    padding-top: 30px;
    min-height: 120px;
}

header .home {
    background-color: #fc3868;
    color: #fff;
}

header .events {
    background-color: #fff;
    color: #000;
}

header .home nav a {
    color: #000;
    text-decoration: none;
    font-size: 22px;
}

header .events nav a {
    color: #000;
    text-decoration: none;
    font-size: 22px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header nav {
    float: right;
    margin-top: 10px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

h1,
h4,
h3 {
    text-align: center;
}

h4 {
    margin: auto;
}

footer   { 
    color: #fff;
    min-height:4em;         
    background-color:black;             
    width: 100%;
    padding: 20px;
}

footer img {
    float: right;
}

#ar {
    font-size: 82px;
    text-shadow: 7px 7px yellow;
    text-shadow: 7px 7px yellow;
    -moz-text-fill-color: #86D1F0;
    -webkit-text-fill-color: #86D1F0;
       -moz-text-stroke-color: #fc3868;
    -webkit-text-stroke-color: #fc3868;
       -moz-text-stroke-width: 1px;  
    -webkit-text-stroke-width: 1px;
}